#cabecera{
   background-color: blue;
   color: yellow;
   box-sizing: content-box;  
   width: 600px;
   height: 100px;
   padding: 30px;  
   border: 10px solid rgb(13, 13, 14);
   opacity: 0.7;
}

#contenido{
    box-sizing: content-box;  
    width: 600px;
    height: 100px;
    padding: 30px; 
    justify-content: center;
    display:block;   
}

#pie{
    background-color:cyan;
    color:black;
    box-sizing: content-box;  
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    align-items: center;
    position: relative;
    width: 600px;
    height: 100px;
    padding: 30px;
    top: 100px;
}
}

table.separado {
        border-collapse: separate; 
        border-spacing: 30px;
}


table.colapsado {
    border-collapse: collapse;
}